@*@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Spare Parts Outlet</title>
    @*@if (HttpContextAccessor.HttpContext.Session.GetString("JwtToken") != null)
    {
        <meta name="Authorization" content="Bearer @HttpContextAccessor.HttpContext.Session.GetString("JwtToken")" />
    }*@
</head>
<body>

    <h1>Spare Parts Outlet</h1>
</body>